__pycache__/
idyom_results/
venv/
dist/
src/melody_features.egg-info
Essen_Corpus_corpus_stats.json
.DS_Store
build/
.pytest_cache/
notebooks/.ipynb_checkpoints
notebooks/output*
temp.py
essen_corpus_features.csv
