__pycache__/
idyom_results/
venv/
pytest.ini
dist/
src/melodic_feature_set_Dav8Circle.egg-info
Essen_Corpus_corpus_stats.json
.DS_Store
build/
.pytest_cache/
notebooks/.ipynb_checkpoints
notebooks/output1.csv
notebooks/output2.csv
notebooks/output3.csv